@font-face {
  font-family: "Kanit";
}
body {
  background-color: rgb(255, 255, 255);
}

.body {
  background-color: hsl(0, 0%, 99%);
  margin: 0 auto; /* Horizontal centering */
  justify-content: center; /* Horizontal centering */
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Vertical centering */
}

.Header {
  color: #ffc107;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

.text1 {
  color: #1e1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 65px;
  margin-bottom: 8px;
}

.text2 {
  color: #ffc107;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: end;
  margin-right: 60px; /* Horizontal centering */
}

.text3 {
  color: #ffc107;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 24px; /* Horizontal centering */
}

.box {
  width: 1015px;
  height: max-content;
  background-color: rgb(245, 244, 244);
  justify-content: center;
}

.container-logo {
  width: 508px;
  height: 648px;
  background-color: #fffec4;
  justify-content: center; /* Horizontal centering */
}

.container-logo-register {
  width: 508px;
  height: 748px;
  background-color: #fffec4;
  justify-content: center; /* Horizontal centering */
}

.alignlogo {
  justify-content: center; /* Horizontal centering */
  align-items: center;
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.loginLogo {
  margin-top: 84px;
  width: 358px;
  height: 350px;
  background-color: #fffec4;
  margin: 0 auto; /* Horizontal centering */
  display: flex;

  justify-content: center; /* Horizontal centering */
  align-items: center;
  margin-bottom: 70px;
  /* Vertical centering */
}
.loginLogo2 {
  width: 344px;
  height: 40px;
  background-color: #fffec4;
  margin: 0 auto; /* Horizontal centering */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.lable {
  background-color: #d9d9d94f;
  width: 368px;
  height: 61px;
  border-left: 6px solid #ffc107;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin: 0 auto; /* Horizontal centering */
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  font-family: NotoSans;
  border-radius: 50px;
  border-color: #ffc107;
  background-color: #ffc107;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 126px 12px 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.button:hover {
  background-color: #ebc75c;
  border-color: #ffc107;
}

.button2 {
  font-family: NotoSans;
  border-radius: 50px;
  border-color: #ffc107;
  background-color: #ffc107;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 126px 12px 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 24px;
}

.button2:hover {
  background-color: #ebc75c;
  border-color: #ffc107;
}
