* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #ffc107;
  padding: 1rem;
  text-align: center;
  color: white;
}

nav a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 1rem;
}

.textColor {
  color: white;
}

.Chartlable {
  font-family: NotoSans;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
}

.HeaderChart {
  /* color: #ffc107; */
  font-family: NotoSans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  /* Horizontal centering */
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
}
